<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section 
		  name="nhibernate" 
		  type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" 
    />
	</configSections>
	<nhibernate>
		<add key="hibernate.dialect"
			value="NHibernate.Dialect.SQLiteDialect" />

		<add key="hibernate.connection.provider"
			value="NHibernate.Connection.DriverConnectionProvider" />

		<add key="hibernate.connection.driver_class"
			value="NHibernate.Driver.SQLiteDriver" />

		<add key="hibernate.connection.connection_string"
			value="Data Source=media.db;Version=3" />

		<add key="hibernate.query.substitutions"
			value="true=1;false=0" />
	</nhibernate>
</configuration>